<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Ginie Man : Services on click</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="media/favicon/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    {% comment %} <style>
      
      #logo-man{
        padding:10px;
      }
    </style> {% endcomment %}

<!--

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-sixteen.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.css' %}">

  </head>

  <body >

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          {% comment %} <a class="navbar-brand" id="logo-man" href=""><img src='media/logo-social.jpg' height='30' width='30' ></a> {% endcomment %}
          <a class="navbar-brand" href=""><h2><img src="media/chrome.png" width="30" height="30">inie <em>Man</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            {% comment %} <span class="navbar-toggler-icon"> {% endcomment %}


              <img src="media/chrome.png" width="30" height="30">
            
            
              {% comment %} </span> {% endcomment %}
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="/apply/">Join Us</a>
              </li>
              {% comment %} <li class="nav-item">
                <a class="nav-link" href="/contact_us/">Contact Us</a>
              </li> {% endcomment %}

              <li class="nav-item">
                <a class="nav-link" href="tel:7651848582">
                  <img width="30" height='30' src="media/calling.jpg"/>>
                  Call us at 7651848582</a>
              </li>
              

              

              

            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01" style="background-image: url('/media/ginieb1.jpg')" >
          <div class="text-content">
            <h4 style="color:black">Want a Gin go Ginie</h4>
            
            <h2>Providing Best Service On Time</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="latest-products">
      <div class="container">
        <div class="row">
          
    {% comment %} {% for serve in service %} {% endcomment %}
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Serices</h2>
              <a >service on your click </a>
            </div>
          </div>
          {% for serve in service %}
          <div class="col-md-4">
            <div class="product-item">
              {% comment %} <a href="#"> {% endcomment %}
                <a href="booking/{{serve.service_id}}"><img src="media/{{serve.image}}" alt=""></a>
              {% comment %} </a> {% endcomment %}
              <div class="down-content">
                <a href="booking/{{serve.service_id}}"><h4>{{serve.service_name}}</h4></a>
                <p><strong style="font-weight: bold"; >starting from ₹{{serve.price}}</strong></p>
                <p>{{serve.desc}}</p>
                 {% comment %} <ul class="stars">
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                  <li><i class="fa fa-star"></i></li>
                </ul>  {% endcomment %}
                
              </div>
              {% comment %} {% endfor %} {% endcomment %}
            </div>
          </div>
          {% endfor %}
      </div>
    </div>

    
 <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Ginie Man We Provide best services
            
            
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


  
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>
    <script src="{% static 'js/accordions.js' %}"></script>




  </body>

</html>
